*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


hyundai_mobis.mp4
wrc_2019.mp4
mgm_map1.mp4
mgm_map2.mp4
walmart_map1.mp4
walmart_map2.mp4
timber_map1.mp4
timber_map2.mp4